body{
    margin: 0;
    padding: 0;
}
.container-principal{
   
}
.navmenu {
    background: red;
    width: 100%;
    height: 5vh;
    
}
    nav a{
         color: white;
         padding: 10px;
         text-decoration: none;
}
.form{
    width: 100%;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    border: 1PX solid black;
    padding: 15px;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
}
    form input{
        width: 100%;
    }
.tabela{
    background: blue;
    height: 15vh;
}
.titulo{
    width: 100%;
    height: 20vh;
    color: white;
    background-image: url(pizzaBanner.jpg);
    background-size: 100%;
}

