body{
    margin: 0;
    padding: 0;
}
h1{
    color: red;
}
nav {
    background: rgb(71, 71, 71);
    position: fixed;
    width: 100%;
    padding: 15px;
}

    nav a {
        color: red;
        padding: 15px;
        text-decoration: none;
    }

        nav a:hover {
            background: red;
        }

.form{
    width: 100%;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    form {
        border: 1PX solid black;
        padding: 15px;
        width: 70%;
        font-size: 18px;
        font-weight: bold;
    }
    form input{
        width: 100%;
    }
.tabela{
    background: blue;
    height: 15vh;
}
.titulo{
    width: 100%;
    height: 20vh;
    color: white;
    background-image: url(pizzaBanner.jpg);
    background-size: 100%;
}

