body{
    margin: 0;
    padding: 0;
}
.container-principal{
    
}
.navmenu {
    background: red;
    width: 100%;
    height: 6vh;
    
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
.form{
    background: green;
    width: 70%;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.tabela{
    background: blue;
    height: 15vh;
}
.titulo{
    width: 100%;
    height: 20vh;
    color: white;
    background-image: url(pizzaBanner.jpg);
    background-size: 100%;
}

