body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 243);
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.container p {
    color: red;
}

nav {
    background: rgb(71, 71, 71);
    width: 100%;
    position: fixed;
    padding: 15px;
}

    nav a {
        color: white;
        padding: 15px;
        text-decoration: none;
    }

        nav a:hover {
            background: red;
        }

.centro {
    background: orange;
    width: 1300px;
    height: 80%;
}

.centro {
    background-position: center;
    background-size: cover;
    display: flex;
    background-image: url(pizzaBanner.jpg);
}

#titulo {
    width: 1200px;
}
