body {
    margin: 0;
    padding: 0;
}

#img {
    background-image: url(pizzaBanner.jpg);
    height: 250px;
}

nav {
    background: rgb(71, 71, 71);
    position: fixed;
    width: 100%;
    padding: 15px;
}

    nav a {
        color: white;
        padding: 15px;
        text-decoration: none;
    }

        nav a:hover {
            background: red;
        }

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .form form {
        width: 70%;
    }

input {
    width: 100%;
    height: 34px;
}

.btn-cadastro {
    font-size: 24px;
    border-color: #2e6da4;
    color: white;
    background-color: #337ab7;
}

tbody {
    width: 100%;
}

.lista-tabela {
    width: 70%;
}

.table th {
    border: 1px solid black;
}

.td {
    padding-left: 5px;
}

.table {
    width: 100%;
}

.lista-tabela h2 {
    margin: 0;
}

.btn-excluir a {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
